IDENTITY_DATABASE_URL=REPLACE_WITH_IDENTITY_DATABASE_URL
LEDGER_CORE_DATABASE_URL=REPLACE_WITH_LEDGER_CORE_DATABASE_URL
LEDGER_CORE_MIGRATION_DATABASE_URL=REPLACE_WITH_LEDGER_CORE_MIGRATION_DATABASE_URL
LEDGER_CORE_DATABASE_ROLE_PASSWORD=REPLACE_WITH_LEDGER_CORE_DATABASE_ROLE_PASSWORD
LEDGER_CORE_ACCEPT_BASELINE=false
LEDGER_CORE_IDEMPOTENCY_RETENTION_DAYS=365
LEDGER_CORE_IDEMPOTENCY_CLEANUP_INTERVAL_MS=3600000
LEDGER_CORE_IDEMPOTENCY_CLEANUP_BATCH_SIZE=500
WORKBENCH_DATABASE_URL=REPLACE_WITH_WORKBENCH_DATABASE_URL
REDIS_URL=REPLACE_WITH_REDIS_URL

IDENTITY_ISSUER=REPLACE_WITH_IDENTITY_ISSUER
IDENTITY_JWKS_JSON=REPLACE_WITH_PRIVATE_JWKS_JSON
IDENTITY_COOKIE_KEYS=REPLACE_WITH_TWO_COMMA_SEPARATED_RANDOM_KEYS
IDENTITY_RESOURCE_AUDIENCES=urn:mavula:identity-access,urn:mavula:ledger-core,urn:mavula:workbench
OIDC_AUTHORIZATION_ENDPOINT=REPLACE_WITH_AUTHORIZATION_ENDPOINT
OIDC_JWKS_URI=REPLACE_WITH_JWKS_URI
OIDC_TOKEN_ENDPOINT=REPLACE_WITH_TOKEN_ENDPOINT
WORKBENCH_OIDC_CLIENT_ID=REPLACE_WITH_WORKBENCH_CLIENT_ID
WORKBENCH_PRIVATE_JWK_JSON=REPLACE_WITH_PRIVATE_CLIENT_JWK_JSON

IDENTITY_BOOTSTRAP_TENANT_ID=REPLACE_WITH_TENANT_ID
IDENTITY_BOOTSTRAP_INSTITUTION_ID=REPLACE_WITH_INSTITUTION_ID
IDENTITY_BOOTSTRAP_INSTITUTION_NAME=REPLACE_WITH_INSTITUTION_NAME
IDENTITY_BOOTSTRAP_ADMIN_EMAIL=REPLACE_WITH_ADMIN_EMAIL
IDENTITY_BOOTSTRAP_ADMIN_PASSWORD=REPLACE_WITH_ADMIN_PASSWORD
IDENTITY_BOOTSTRAP_CLIENTS_JSON=REPLACE_WITH_OAUTH_CLIENT_CONFIGURATION_JSON
