[submodule "packages/ledger-core"]
	path = packages/ledger-core
	url = git@github.com:getfluxo-io/ledger-core.git
	branch = main
[submodule "packages/workbench"]
	path = packages/workbench
	url = git@github.com:getfluxo-io/workbench.git
	branch = main
[submodule "packages/operations"]
	path = packages/operations
	url = git@github.com:getfluxo-io/operations.git
	branch = main
[submodule "packages/settlements"]
	path = packages/settlements
	url = git@github.com:getfluxo-io/settlements.git
	branch = main
